.container {
    /*border: 2px red solid;*/
    max-width: 100%;
    height: 100%;
    display: flex;
    padding: 10%;
    gap: 2rem;
    flex-wrap: wrap;
    position: relative;
}

/* .container > * {
   border: 2px solid red;
} */

.avatar img {
    /* border: 2px solid red; */
    width: 400px;
    max-width: 400px;
    border-radius: 20%;
}

.details {
    /*border: 2px solid red;*/
    width: 40%;
    min-width: 30%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: column;
    font-size: 2rem;
    font-family: sans-serif
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
    position: absolute;
    bottom: 10%;
    right: 5%;
}